# app environment
APP_ENV=dev

# shared middleware
REDIS_ADDR=localhost:6379
RABBITMQ_URL=amqp://community:community@localhost:5672/

# jwt
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=2h

# Middlewares
DATABASE_URL=postgres://community:community_dev_password@localhost:5432/community?sslmode=disable