# app environment
APP_ENV=dev

# shared middleware
REDIS_ADDR=localhost:6379
RABBITMQ_URL=amqp://community:community@localhost:5672/

# jwt
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=2h

# goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING='user=goose password=goose_password dbname=community sslmode=disable host=localhost'